<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue.js</title>
    <link rel="stylesheet" href="./theme.css">
    <style>
        [v-cloak] { display: none;}
    </style>
</head>
<body>
<div id="root" v-cloak>
    <form class="form">
        <fieldset>
            <legend
                    :class="{'legend--red': true, 'legend--bold': notes.length > 0}"
            >
                {{title}}
            </legend>
            <input
                    :class="['input--black', {'input--color-gold': true}]"
                    type="text"
                    :placeholder='hint'
                    v-model="value"
                    @keypress.enter.prevent="handleButtonClick"
            >
            <button
                    type="button"
                    @click="handleButtonClick"
                    :style="{color: notes.length ? 'green' : 'red'}"
                    :disabled="value.length < 3 ? true : false"
            >
                add
            </button>
        </fieldset>
    </form>
    <ul class="note-list" v-if="notes.length > 0">
        <li class="note-item" v-for="(note, index) of notes">
            {{formatIndex(index)}}. {{formatNote(note)}}
            <button type="button" @click="removeNote(note, $event)">X</button>
        </li>
    </ul>
    <br>
    <span v-text="vtext"> | this span text content will be overridden</span>
    <br>
    <span v-once>{{vonce}}</span>
    <br>
    <div v-html="vhtml"></div>
    <ul>
        <li v-for="(value, key) of person">
            {{key}} : {{value}}
        </li>
    </ul>
</div>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>
<script src="./app.js" type="module"></script>
</body>
</html>
